@model EduTrack.Models.Submission

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Submission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubmissionID" />
            <div class="form-group">
                <label asp-for="SubmissionComment" class="control-label">Comment</label>
                <textarea asp-for="SubmissionComment" class="form-control"></textarea>
                <span asp-validation-for="SubmissionComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label">Upload File</label>
                <input type="file" id="file" name="files" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentId" class="control-label">Assignment Name</label>
                <select asp-for="AssignmentId"
                        class="form-control"
                        asp-items="@(new SelectList(ViewBag.Assignments,"Value","Text"))">
                </select>
                <span asp-validation-for="AssignmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            
            <img src="~/Images/undraw_in_thought_re_qyxl.png" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;" />
        </section>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

