@model IEnumerable<EduTrack.Models.Announcement>

@{
    ViewData["Title"] = "IndexStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Announcements</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Announcement Name            
            </th>
            <th>
                Announcement Text
            </th>
            <th>
                Teacher Name
            </th>
            <th>
               Course Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncementName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncementText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
         
        </tr>
}
    </tbody>
</table>
